.our-clients {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: var(--logo-our-clients);
  }
  
  .our-clients > li:hover,
  .our-clients > li:focus {
    color: var(--main-blue);
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .our-clients__outline {
    border: 1px solid;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: currentColor;
  }