@import "../utils/globals";
@import "../utils/variables";

.header-wrapper {
  padding: 24px 0 25px;
  border-bottom: solid 1px $secodaryWhite;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.main-window {
  background-image: linear-gradient(
    $secondaryBlackTransparent,
    $secondaryBlackTransparent
    ),
    url('../images/img-background-main.jpg');
  max-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: $primaryWhite;
    letter-spacing: 0.06em;
    margin-top: 100px;
    margin-left: 252px;
    margin-right: 252px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 93px;
}