@import "../utils/globals";
@import "../utils/variables";

.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

  &--name-start {
    color: $primaryBlue;
  }
  &--name-end {
    color: $primaryBlack;
  }
  &--name-end-white {
    color: $primaryWhite;
  }
}