@import "../utils/globals";
@import "../utils/variables";

.menu-navigation {
    display: flex;
    gap: 46px;
  }
  
.navigation__item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    line-height: 1;
    position: relative;

    &--active {
      color: $primaryBlue;
      &::after {
        color: $primaryBlue;
        content: '';
        height: 4px;
        display: block;
        width: 100%;
        background-color: $primaryBlue;
        border-radius: 2px;
        position: absolute;
        top: 45px;
        text-decoration: none;
      }
    }
&:hover,
&:focus{
  outline: none;
  color :$primaryBlue;
  &::after {
    content: '';
    height: 4px;
    display: block;
    width: 100%;
    background-color: $primaryBlue;
    border-radius: 2px;
    position: absolute;
    top: 45px;
  }
}}
 
  .menu-contact {
    display: flex;
    gap: 50px;
    line-height: normal;
  }
  
 .contact__item {
  font-weight: 500;
  font-size: 14px;
  color: $secodaryLightGrey;
  text-decoration: none;
  fill: $secodaryLightGrey;
  &:hover,
  &:focus{
  color: $primaryBlue;
  fill: $primaryBlue;
  outline: none;
  transition-duration: $transitionDurationTimeDefault;
  transition-timing-function: $transitionTimingDefault;
  }}
  
.contact__icon {
    margin-right: 10px;}

.menu-contact {
        &:hover,
        &:focus {
          color: $primaryBlue;
          transition-duration: $transitionDurationTimeDefault;
          transition-timing-function: $transitionTimingDefault;
        }
      }