.media-links--item {
    border-radius: 50%;
    padding: 12px;
  }
  
  .media-links {
    fill: var(--logo-our-clients);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
  }
  
  .media-links--item:hover,
  .media-links--item:focus {
    background-color: var(--main-blue);
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .media-links--icon:hover,
  .media-links--icon:focus {
    fill: var(--logo-white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-links-footer--icons {
    fill: var(--logo-white);
    cursor: pointer;
    display: flex;
    gap: 10px;
  }
  
  .social-links-footer--item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
  }
  
  .social-links-footer--item:hover,
  .social-links-footer--item:focus {
    background-color: var(--main-blue);
    border-radius: 50%;
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-links-footer--icons {
    padding-top: 12px;
  }
  
  .social-links-footer--title {
    font-weight: 700;
    margin-bottom: 20px;
  }