@import "../utils/globals";
@import "../utils/variables";

.strenghts {
    display: flex;
    justify-content: center;
    margin-bottom: -94px;

    &--title {
      font-weight: 700;
      font-size: 14px;
      padding-bottom: 10px;
    }
    &--icons {
      background: $secodaryLightWhite;
      border-radius: 4px;
      align-items: center;
      margin-bottom: 55px;
      padding-bottom: 25px;
      padding-top: 25px;
      text-align: center;
      margin-right: 30px;
    }
    &--text {
      line-height: 1.7;
      color: $secodaryLightGrey;
      font-size: 14px;}

  }
